    .create-new-user {
        .input-main-data {
            margin-bottom: 10px;
        }
        .input-main-data {
            .eyeicon {
                position: absolute;
                right: 10px;
                top: 50%;
                cursor: pointer;
                background-color: transparent;
            }

            .password-style {
                input[type='password'] {
                    font-family: Verdana;
                    letter-spacing: 0.125em;
                    color: #647C9B;

                    &::placeholder {
                        font-family: var(--Quicksand);
                        letter-spacing: 0;

                    }
                }
            }
        }

        .right-content {
            .upload-image-wrapped {
                text-align: center;

                .image-upload-box {
                    text-align: center;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 2px dashed var(--orange-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    text-align: center;
                    margin: auto;
                    margin-bottom: 8px;
                    position: relative;

                    &.remove-boder {
                        border: none;
                    }

                    .image-preview {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .camera {
                        width: 23px;
                    }

                    .camera-button {
                        position: absolute;
                        background-color: var(--orange-color);
                        padding: 6px;
                        right: -8px;
                        border-radius: 5px;
                        bottom: 0;

                        svg {
                            path {
                                fill: var(--white-color);
                            }
                        }
                    }
                }

                .profile-label {
                    font-weight: 500;
                    font-size: var(--font_14);
                }
            }

            .two-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
            }
        }
    }
