@use '../../../assest/scss/abstract/mixins' as *;
.helpfilter{
    &.action-card{
        justify-content: space-between;
        .select-and-search{
            display: flex;
            .main-text{
                color: var(--color_647C9B);
                font-weight: 600;
                background-color: var(--light-blue);
                padding: 7.5px 10px;
                border-radius: 3px 0 0 3px;
                white-space: nowrap;
            }
            .MuiAutocomplete-input{
                border-radius: 0 3px 3px 0;
                padding: 5px 10px;
                @include media_1600 {
                    padding:5.5px 4px 5px 5px;
                }
            }
        }
    }
    .left-side{
        width: 70%;
        display: flex;
        gap: 20px;
    }
    

}